<div class="card-body">
    <div class="table-responsive" >
        <h2 style="font-weight: 100; text-align: center;">CURRENT UPDATE OF TMA TABLE</h2>
        
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="1">
            <thead>
                <tr>
                    <th>EMPCODE</th>
                    <th>EmployeeName</th>
                    <th>Position</th>
                    <th>TASK</th>
                    <th>STATUS</th>
                
            
                </tr>
            </thead>
           
            <tbody>
                <tr>
                    <td>emp011</td>
                    <td>Arjun M</td>
                    <td>UI/UX Designer</td>
                    <td>FrontEnd Design</td>
                    <td>Active</td>
                </tr>
              
                <tr>
                    <td>emp012</td>
                    <td>Aswathi N</td>
                    <td>Python Devr</td>
                    <td>Back-End</td>
                    <td>Active</td>
                </tr>
                <tr>
                    <td>emp013</td>
                    <td>Ram Reddy</td>
                    <td>AssociateSE</td>
                    <td>FrontEnd Design</td>
                    <td>Active</td>
                </tr>
                
             
                
                
            </tbody>
        </table>
    </div>
</div>




<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; TMA 2024</span>
        </div>
    </div>
</footer>